---
// Código de NEO
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>NEO - Programación Emocional</title>
  </head>
  <body>
    <h1>¡NEO está vivo!</h1>
    <p>La configuración ha sido exitosa.</p>
  </body>
</html>
